<div nz-row zJustify="center">
    <div nz-col nzSpan="4" nzOffset="10">
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
            <h3>MES Lotes</h3>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="user" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group>
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        </form>
    </div>
</div>