<nz-layout>
    <app-header [unidadeId]="unidadeId" (unidadeIdEmitter)="headerUnidadeEvent($event)"></app-header>

    <app-lotes-filtro #lotesFiltro [unidadeId]="unidadeId" (loteFilterEmitter)="loteFilterEvent($event)"></app-lotes-filtro>
    
	<nz-content>
        <nz-table #basicTable [(nzData)]="lotes" (nzQueryParams)="onQueryParamsChange($event)" [nzFrontPagination]="false" [nzTotal]="lotesCount" [nzPageSize]="lotesPageSize" [nzPageIndex]="lotesPageIndex">
            <thead>
                <tr>
                    <th>Lote</th>
                    <th>Resultante</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lote of basicTable.data">
                    <td>{{lote.ano}}-{{lote.numero}}</td>
                    <td>{{lote.resultante?.descricao}}</td>
                    <td>{{lote.dataInicio | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{lote.dataFim | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{lote.situacao}}</td>
                    <td>
                        <button nz-button nzType="primary">editar</button>
                        <button nz-button nzDanger>excluir</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-content>
</nz-layout>